{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        {%- comment -%} change the action {%- endcomment -%}
        {%- comment -%} add values to input fields {%- endcomment -%}
        {%- comment -%} add a back button {%- endcomment -%}
        <form action="/cars/{{car.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{car.name}}</legend>
                <label class="form-label">Name: </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="enter the name of the car"
                    value="{{ car.name }}"
                >
                <label class="form-label">Color: </label>
                <input
                    class="form-control"
                    type="color"
                    name="color"
                    placeholder="what color is the car?"
                    value="{{ car.color }}"
                >
                <label class="form-label">Ready To Eat: </label>
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="readyToEat"
                    {% if car.readyToEat %}
                        checked
                    {% endif %}
                >
            </fieldset>
            <input
                class="btn btn-success"
                type="submit"
                value="Edit {{car.name}}"
            >
        </form>
    </div>

{% endblock %}